@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'ClashDisplay';
	src: url('../public/fonts/ClashDisplay-Semibold.otf');
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
